.body {
	display: flex;
	justify-content: center;
	height: 87.8vh;
	padding-top: 10vh;
	background: white;
	background: linear-gradient(180deg, white 0%, rgb(211, 211, 247) 46%,
		rgba(81, 81, 189, 1) 100%);
}

span {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: medium;
}

a {
	font-size: larger;
	text-decoration: none;
	color: black;
}

.header_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
}

.options {
	display: flex;
	flex-direction: row;
}

.main_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header_text {
	display: flex;
	justify-items: center;
	align-items: center;
}

.names {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.surname_wrapper {
	
}

.profile_top_wrapper {
	display: flex;
	flex-direction: row;
	border: 10px;
	border-radius: 10px;
	border-style: outset;
	background-color: white;
}

.language_image {
	border-radius: 22px;
}

.image_wrapper {
	padding-right: 5vh;
}

.profile_image {
	width: 30vh;
	height: 30vh;
}

.name {
	padding-left: 3vh;
}

.position {
	padding-left: 1vh;
}

.statistics {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 12%;
	width: 60vh;
	border: 10px;
	border-radius: 10px;
	border-style: outset;
	background-color: white;
}

.statistics_numbers {
	display: flex;
	flex-direction: column;
	border: 3px;
	border-style: outset;
}

.fine_order {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.favorite_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5vh;
}

.favorite {
	display: flex;
	flex-direction: column;
	border: 5px;
	border-style: outset;
}