@charset "UTF-8";


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Mukta, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4f546c;
  font-size: 0.9rem;
  padding-top: 5vh;
  background-color: #f9fbff;
}

table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  background-color: white;
  text-align: left;
  overflow: hidden;
  margin: 1vh;
}
  thead {
    box-shadow: 0 5px 10px #e1e5ee;
  }
	
  th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }

  td , button {
    padding: 1rem 2rem;
  }

  .status {
    border-radius: 0.2rem;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
	background-color: #c8e6c9;
    color: #388e3c;
    margin: 5vh;
  }

  .amount {
    text-align: right;
  }

  tr:nth-child(even) {
    background-color: #f4f6fb;
  }
  .pages_change{
  	display:flex;
  	flex-direction: row;
  }


