@charset "UTF-8";

body {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: center;
	background-image: url(assets/back.jpg);
}

.book {
	display: flex;
	padding: 2vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
	border: 10px;
	border-style: outset;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

.text {
	display: flex;
}

.book_character {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}