@charset "UTF-8";

body {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	background-repeat: repeat-y;
	background-size: 70%;
	background-image: url(assets/back.jpg);
}

.authors {
	border: 10px;
	border-style: outset;
	margin: 1vh;
}

.first {
	
}

.author_list {
	
}