.body {
	background: white;
	background: linear-gradient(180deg, white 26%, rgb(211, 211, 247) 46%,
		rgba(81, 81, 189, 1) 100%);
}

.header {
	/* border-style: solid;
    border-radius: 20px;
    border-color: rgb(78, 75, 75);
    border-top: none; */
	width: 100.5%;
}

.main {
	
}

.library {
	display: flex;
	align-items: center;
}

.library_text {
	font-size: larger;
	font-style: oblique;
	font-weight: bolder;
}

.language {
	border: none;
	background-color: Transparent;
	background-repeat: no-repeat;
	cursor: pointer;
	outline: none;
}

.library_image {
	width: 40px;
	height: 40px;
}

.language_image {
	border-radius: 50px;
}

.logo {
	margin-right: 5%;
}

.menu {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

.account {
	display: flex;
	margin-left: 20px;
}

.account_button {
	border: none;
	border-radius: 50%;
}

.profile_image {
	border-style: solid;
	border: 70%;
	border-radius: 50%;
	border-color: black;
}

.options {
	display: flex;
}

span {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	font-size: medium;
	font-weight: lighter;
}

.slash {
	font-size: large;
	font-weight: bolder;
}

.registration {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.registrarion_text {
	font-size: large;
	font-style: italic;
}

button {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.searchbar_wrapper {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
}

.search_wrapper_main {
	display: flex;
	flex-direction: column;
}

.search_input {
	border-color: black;
	border-top: none;
	border-left: none;
	border-right: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	margin-top: 1vh;
	width: 70vh;
	height: 8.2vh;
	padding-left: 1vh;
}

.main_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1vh;
	height: 90vh;
}

.under_search {
	display: flex;
	justify-content: center;
	padding-top: 10vh;
	flex-direction: column;
}

.under_search_bar {
	display: flex;
	justify-content: space-around;
}

.authors_search {
	font-size: large;
	font-weight: bolder;
}

a {
	color: black;
	text-decoration: none;
}

a.under_search_link {
	color: white;
}

.authors_search {
	padding-right: 20px;
	font-size: 5vh;
}

.registration_form {
	align-items: center;
	justify-content: center;
}

.form-input {
	width: 90%;
}

.forms_login {
	display: flex;
	justify-content: center;
	padding-top: 10vh;
}

.login_form {
	display: none;
	justify-content: center;
	padding-top: 5vh;
	width: 45vh;
	border: 20px;
	border-radius: 20px;
	background-color: rgb(251, 255, 255);
	border-width: 10px;
	border-style: outset;
}

.submit {
	border-color: black;
}

.submit_search_button {
	display: flex;
	flex-direction: row-reverse;
	margin-left: 1vh;
	height: 8.5vh;
	align-items: center;
}

.submit_image {
	width: 7vh;
	height: 7vh;
}

.submit_wrapper {
	display: flex;
	align-content: center;
}

.submit_registrarion {
	justify-content: center;
	padding-top: 10px;
}

.inputs {
	height: 10vh;
	width: 35vh;
	padding-bottom: 1vh;
	justify-content: center;
}

.forms {
	display: none;
	flex-direction: column;
	width: 45vh;
	height: 50vh;
	border: 20px;
	border-radius: 20px;
	background-color: rgb(251, 255, 255);
	border-width: 10px;
	border-style: outset;
	align-items: center;
	justify-content: center;
	margin-left: 40%;
	margin-top: 10vh;
	margin-right: 40%;
}

.submit_button {
	width: 100%;
	border: 3px;
	background-color: blue;
	border-color: none;
	border-radius: 10px;
	justify-content: center;
	align-content: center;
}

.submit_button_text {
	color: azure;
}

.label_input {
	display: flex;
	align-content: center;
}

.label {
	color: black;
}

.credentials {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 20vh;
}

.credential {
	display: flex;
	flex-direction: row;
	padding-right: 1vh;
	border-color: black;
	border: 1vh;
	padding-left: 1vh;
	border-style: solid;
	border-right: none;
	border-top: none;
	border-bottom: none;
}

.credential_text {
	display: flex;
	flex-direction: column;
	padding-left: 1vh;
	font-size: 4vh;
}

.credential_text_inner {
	font-size: 4vh;
}

.order_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.radio_input {
	display: flex;
	flex-direction: row;
}

.radio_input_inner {
	display: flex;
	flex-direction: row-reverse;
}

.upper_manual {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 2vh;
}

.manual_admin {
	display: flex;
	padding: 3vh; flex-direction : column;
	justify-content: center;
	flex-direction: column;
}

.manuals_wrapper {
	display: flex;
	flex-direction: row;
	padding: 2vh;
}
.find_admin{
	padding:2vh;
}
.chosen{
	display:flex;
	flex-direction: column;
}
.chosen{
	display:flex;
	flex-direction: column;
}
.inputs{
	display:flex;
	flex-direction: column;
}
.edit_wrapper{
	display:flex;
	flex-direction: column;
	padding-left: 10vh;
}